<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Result</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <style>
      .containers{
       
        margin: auto;
        align-items: center;
        left: 400px;
      }
      a{
        text-decoration: none;
        color: black;
        transition: 0.5s;
        scale: 1.5px;
      }

      
       body{
        background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
        color: white;
       }
    </style>

</head>
<body>
    
    <h1>Hello!! Select your Profession</h1>
    <div class="containers box">
        <button type="button" class="btn btn-light">
          <h1><a href="/teacherlogin">Admin</a></h1>
        </button>
        <button type="button" class="btn btn-light">
          <h1><a href="/studentlogin">Student</a></h1>
        </button>
    </div>
     


  </body>
  </html>
